.header {
  background-color: #162f48;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 80px;
  width: 100%;
  position: fixed;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin-top: 20px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
