<div class="home">
  <div class="paginationStrip">
    <button class="add-button" (click)="openCreateModal()">
      Add Compound +
    </button>
    <div class="counter">
      <a
        *ngIf="currentPage > 1"
        [queryParams]="{ page: currentPage - 1 }"
        [routerLink]="['/']"
      >
        <button class="change-page">{{ "<" }}</button>
      </a>

      <span class="current-page">{{ currentPage }}</span>

      <a
        *ngIf="currentPage < totalPages"
        [queryParams]="{ page: currentPage + 1 }"
        [routerLink]="['/']"
      >
        <button class="change-page">
          {{ ">" }}
        </button>
      </a>
    </div>
  </div>
  <!-- <div class="ui-test">
    <app-card [compound]="sampleCompound" />
    <app-card [compound]="sampleCompound" />
    <app-card [compound]="sampleCompound" />
    <app-card [compound]="sampleCompound" />
  </div> -->
  <div class="ui-test">
    <app-card
      *ngFor="let compound of compoundService.compoundList$ | async"
      [compound]="compound"
    ></app-card>
  </div>

  <app-compound-create-modal
    *ngIf="showCreateModal"
    (close)="closeCreateModal()"
  />
</div>
